:host {
  background-color: var(--neo-dark-blue);
  color: var(--neo-off-white);
  display: flex;
  flex-flow: row;
  gap: 10px;
  height: fit-content;
  min-height: 100%;
}

.side-nav {
  background-color: var(--neo-dark-blue-alt);
  color: var(--neo-off-white);
  min-width: 300px;
  width: 10vw;

  .nav-header {
    background-color: var(--neo-magenta);
  }

  .nav-header,
  .nav-item {
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    padding: 10px;
    width: 100%;
  }

  .nav-item {
    border-bottom: 1px solid rgba(var(--neo-off-white-rgb), 0.3);
    font-size: 18px;
    cursor: pointer;

    &.active {
      color: var(--neo-magenta);
    }

    &:hover {
      box-shadow: inset 0 0 10vw 100px rgba(var(--neo-off-white-rgb), 0.3);
    }
  }
}
