:host {
  display: block;
}

nb-table {
  --nb-column-header-color: var(--neo-magenta);
  --nb-column-header-text-color: var(--neo-off-white);
  --nb-column-header-resize-color: var(--neo-off-white);
  --nb-row-color: #22252c;
  --nb-altrow-color: var(--neo-dark-blue-alt);
  --nb-row-border-color: rgba(var(--neo-off-white-rgb), 0.12);
  --nb-row-hover-color: #da416777;
  --nb-expanding-row-color: #171a21;
  --nb-selected-header-color: #22252c;
}

.expand-btn {
  background-color: var(--nb-column-header-color);
  border: none;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 5px;
}
