@if (datasource$ | async; as datasource) {
<h4 class="neo-header">Neoburst table</h4>

<nb-table [dataSource]="datasource.entities"
          (sortedColumns)="sortByColumns($event)">
  @for (column of columns; track column) {
  <th *nbColumnHeader="column"
      [nbHeaderCell]="column"
      [nbHeaderCellDrag]="true"
      [nbHeaderCellResize]="column !== 'Age'"
      [nbHeaderCellSize]="column === 'Age' ? 50 : undefined"
      [nb-table-sort]="column"
      [nb-sort-disabled]="column === 'Action'"
      style="cursor: pointer;">
    {{ column }}
  </th>
  <td *nbColumnCell="column; let dataItem = dataItem; let row = row"
      [nbCell]="column"
      [nbCellRow]="row">
    @if (column === 'Action') {
    <button class="expand-btn"
            (click)="$event.stopPropagation(); toggleRow(row)">Toggle</button>
    } @else {
    {{ dataItem[column.toLowerCase()] }}
    }
  </td>
  }

  <tr *nbHeaderRow></tr>
  <tr *nbRow
      nbTableRow
      (click)="clickRow($event)"></tr>
  <tr *nbRow="let row = row"
      [nbExpandableRow]="row === expandedRow">Expandable row {{ row }}</tr>
</nb-table>
}