html {
  --neo-dark-blue: #191923;
  --neo-dark-blue-alt: #2d2d3e;
  --neo-light-blue: #0e79b2;
  --neo-light-blue-alt: #1089ca;
  --neo-lime: #ecfae3;
  --neo-off-white: #fbfef9;
  --neo-off-white-rgb: 251, 254, 249;
  --neo-magenta: #bf1363;
}
