.nb-header-cell {
  background-color: var(--nb-column-header-color);
  color: var(--nb-column-header-text-color);
  display: flex;
  padding: 10px;
  position: sticky;
  text-align: start;
  top: 0;

  &:hover {
    .nb-column-resize {
      opacity: 0.5;
    }
  }

  .nb-column-resize {
    border-right: 2px solid var(--nb-column-header-resize-color);
    cursor: col-resize;
    display: inline-block;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease-in-out;

    :hover {
      width: 20px;
    }
  }
}

.nb-table-cell {
  align-items: center;
  border-bottom: 1px solid var(--nb-row-border-color);
  display: flex;
  padding: 5px 10px;
  transition: background-color 0.5s ease-in-out;
  transition-delay: -0.2s;

  &.nb-hovered-row {
    background-color: var(--nb-row-hover-color);
  }

  &.nb-span-hidden {
    display: none;
  }
}

.nb-table-row {
  display: none;
}

.nb-row-odd {
  background-color: var(--nb-row-color);
}

.nb-row-even {
  background-color: var(--nb-altrow-color, --nb-row-color);
}

.nb-expandable-row {
  background-color: var(--nb-expanding-row-color);
  grid-column: 1/-1;
  max-height: 0px;
  overflow: hidden;
  padding: 0px 5px;
  transition:
    max-height 0.3s ease-in-out,
    padding 0.3s ease-in-out;

  &.nb-expanded {
    border-bottom: 1px solid var(--nb-row-border-color);
    max-height: 100vh !important;
    padding: 5px;
  }

  &.nb-hidden {
    display: none;
  }
}
