<ng-container *ngIf="(datasource$ | async) as datasource">
  <span>Angular table</span>

  <table style="width: 100%;"
         mat-table
         [dataSource]="datasource.entities">
    <ng-container *ngFor="let column of columns; let index = index"
                  [matColumnDef]="column">
      <th mat-header-cell
          *matHeaderCellDef
          style="cursor: pointer;">
        {{ column }}
      </th>
      <td mat-cell
          *matCellDef="let dataItem">
        <ng-container *ngIf="column === 'Action'; else default">
          <button (click)="$event.stopPropagation();">Toggle</button>
        </ng-container>
        <ng-template #default>
          {{ dataItem[column.toLowerCase()] }}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandableContent">Expandable row</ng-container>

    <tr mat-header-row
        *matHeaderRowDef="columns"></tr>
    <tr mat-row
        *matRowDef="let dataItem; columns: columns"
        (click)="clickRow(dataItem)"></tr>
  </table>
</ng-container>