html {
  --nb-grid-resize-color: rgba(0, 0, 0, 0.4);
}

.nb-grid.active-resizers {
  .nb-grid-item-resizer {
    display: block;
  }
}

.nb-grid-item-resizer {
  display: none;
  position: absolute;

  &-right {
    background-image: linear-gradient(
      to bottom,
      transparent,
      transparent 33%,
      var(--nb-grid-resize-color) 33%,
      var(--nb-grid-resize-color) 67%,
      transparent 67%
    );
    cursor: col-resize;
    height: 100%;
    margin: 0 5px 0 0;
    right: 0;
    top: 0;
    width: 3px;
  }

  &-bottom {
    background-image: linear-gradient(
      to right,
      transparent,
      transparent 33%,
      var(--nb-grid-resize-color) 33%,
      var(--nb-grid-resize-color) 67%,
      transparent 67%
    );
    bottom: 0;
    cursor: row-resize;
    height: 3px;
    left: 0;
    margin: 0 0 5px 0;
    width: 100%;
  }
}

.nb-grid-item-dragged {
  opacity: 0.5;
}
